<header>
		<div class="has-text-centered">
			<br>
			
			<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">INTERVIEW</a>
			<!--navbar-item คือคำสั่งหนึ่งของ bulma-->
			<a href="#" class="navbar-item">FORUM</a>
			<a href="#" class="navbar-item">ARTICLE</a>
			<a href="#" class="navbar-item">ABOUT US</a>
			<a href="#" class="navbar-item">CONTACT US</a>
			<a href="#" class="navbar-item">VIDEO</a>
			<a href="#" class="navbar-item">PICTURE</a>
			<a href="#" class="navbar-item">LOGIN</a>
		</nav>

	</header>